* {
  padding: 0;
  margin: 0;
}

body {
  border: 0.8em solid #000;
  max-height: 900px;
}

a {
  text-decoration: none;
}

.profile {
  margin: 0 auto;
  display: block;
  text-align: center;
}

h1 {
  text-align: center;
  font-family: "Noto Sans Mono", monospace;
  font-size: 10vw;
  margin: 30px auto;
  letter-spacing: 0.4em;
}

.img {
  width: 60vw;
  height: auto;
}

.description {
  margin: 15px auto;
  font-size: 100%;
  font-family: "Noto Sans Mono", monospace;
}

.buttons {
  text-align: center;
  padding: 1em;
}

.button_design {
  background-color: #fff;
  border: 2px solid #000;
  box-sizing: border-box;
  color: #000;
  cursor: pointer;
  fill: #000;
  font-family: "Noto Sans Mono", monospace;
  font-size: 16px;
  font-weight: 600;
  height: 48px;
  letter-spacing: -0.8px;
  line-height: 24px;
  min-width: 180px;
  outline: 0;
  padding: 0 17px;
  text-align: center;
  text-decoration: none;
  transition: all 0.3s;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  margin-bottom: 1em;
}

.button_design:focus {
  color: #171e29;
}

.button_design:hover {
  border-color: #fff;
  color: #8e8e8e;
  text-decoration: underline;
}

.button_design:active {
  border-color: #8e8e8e;
  color: #8e8e8e;
  fill: #8e8e8e;
}

@keyframes blink-caret {
  from,
  to {
    border-color: transparent;
  }
  50% {
    border-color: black;
  }
}

.typewriter p {
  width: 200px;
  font-family: "Noto Sans Mono", monospace;
  text-align: center;
  overflow: hidden; /* Ensures the content is not revealed until the animation */
  border-right: 0.15em solid #000; /* The typwriter cursor */
  white-space: nowrap; /* Keeps the content on a single line */
  margin: 0 auto; /* Gives that scrolling effect as the typing happens */
  letter-spacing: 0.15em; /* Adjust as needed */
  animation: typing 2.5s steps(40, end), blink-caret 0.75s step-end infinite;
}

/* The typing effect */
@keyframes typing {
  from {
    width: 0;
  }
  to {
    width: 17%;
  }
}

/* The typewriter cursor effect */
@keyframes blink-caret {
  from,
  to {
    border-color: transparent;
  }
  50% {
    border-color: black;
  }
}

.heart_button {
  width: 10vw;
  height: auto;
}

footer {
  text-align: center;
  margin: 0 auto;
}

.heart {
  margin-bottom: 16px;
}

.heart > p {
  color: #000;
  font-size: 18px;
  text-shadow: 0 0 10px red, 0 0 50px red;
  animation: heartbeat 0.8s infinite;
}

@keyframes heartbeat {
  0% {
    transform: scale(1.1);
  }
  30% {
    transform: scale(1.4);
  }
  60% {
    transform: scale(1.9);
  }
}

.click {
  width: 80px;
  margin: 8px auto;
}

.click > p {
  font-family: "Noto Sans Mono", monospace;
  font-size: 8px;
}

@media screen and (min-width: 600px) {
  .buttons {
    display: block;
  }

  h1 {
    font-size: 4vw;
    letter-spacing: 0.2em;
  }

  .img {
    width: 25vw;
    height: auto;
  }

  .heart_button {
    width: 4vw;
    height: auto;
  }
}

@media screen and (min-width: 1024px) {
  .buttons {
    margin: 0 auto;
    text-align: center;
  }

  button {
    display: block;
    text-align: center;
    margin: 0 auto;
  }

  h1 {
    font-size: 4vw;
    letter-spacing: 0.2em;
    margin: 8px 0;
  }

  .img {
    width: 20vw;
    height: auto;
    margin: 8px;
  }

  .description {
    margin: 8px auto;
    font-size: 1em;
  }

  .heart_button {
    width: 3.5vw;
    height: auto;
  }
}
